.sort_wrapper {
	font-size: 16px;
	font-weight: 600;
	width: 320px;
	position: relative;
	font-size: 19px;
	span {
		color: #9ADB73;
		border-bottom: 1px dotted #9ADB73;
		cursor: pointer;
		font-size: 19px;
	}
}

.popup {
	position: absolute;
	right: 68px;
	display: none;
	z-index: 5;
	ul {
		background-color: #fff;
		padding: 30px;
		border-radius: 10px;
		li {
			cursor: pointer;
			margin-bottom: 20px;
			&:last-child {
				margin: 0;
			}
		}
	}
}

.activeSort {
	color: #9ADB73;
}

.showPopup {
	display: block;
}

