.cart_content {
	position: relative;
	overflow: hidden;
	width: 80%;
	margin: 40px auto;
	.title {
		font-size: 30px;
		font-weight: 600;
		color: #202020;
	}
}

.cart_content__header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.clear_cart {
		color: #589529;
		border: 1px solid #589529;
		border-radius: 10px;
		display: flex;
		align-items: center;
		height: 43px;
		svg {
			margin-left: 20px;
			width: 20px;
		}

		&:hover {
			color: #fff;
			g {
				fill: #fff;
			}
			background-color: #589529;
		}
	}
}

.added_products {
	margin-top: 60px;
}

.added_product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	height: 140px;
	margin-bottom: 50px;
	border: 1px solid #dddddd;
	border-radius: 10px;
}

.product_info {
	display: flex;
	align-items: center;
	width: 300px;
	.product_description {
		margin-left: 20px;
	}

	.product_name {
		font-size: 20px;
		font-weight: 600;
	}

	.product_size {
		color: #c2c2c2;
		font-weight: 400;
	}
}

.product_price {
	font-size: 20px;
}

.product_actions {
	display: flex;
	align-items: center;

	.add_product {
		display: flex;
		align-items: center;

		.current {
			margin: 0 20px;
		}

		button {
			height: 30px;
			width: 30px;
			border-radius: 10px;
			border: 2px solid #589529;
			font-size: 20px;
			color: #589529;

			&:hover {
				background-color: #589529;
				color: #fff;
				cursor: pointer;
			}
		}
	}

	.delete_product {
		margin-left: 90px;
		cursor: pointer;
	}
}

.clear_cart {
	color: #df5e5e;
	border: 2px solid #df5e5e;
	padding: 5px 20px;
	border-radius: 20px;
	cursor: pointer;
}

.cart_info {
	display: flex;
	justify-content: space-between;
	font-size: 20px;

	span {
		color: #589529;
	}
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;

	button {
		border: none;
		background-color: #589529;
		color: #fff;
		width: 130px;
		height: 50px;
		border-radius: 30px;
		font-size: 20px;
		cursor: pointer;
	}

	.backToHome {
		border-radius: 20px;
		font-size: 15px;
		background-color: #fff;
		color: #c2c2c2;
		border: 1px solid #c2c2c2;
	}
}
