@media(max-width: 1015px) {
	.header_content {
		flex-direction: column;
	}
}

.header {
	height: 122px;
	background-color: #9ADB73;

	@media(max-width: 1015px) {
		& {
			height: 240px;
			padding: 20px 0;
		}
	}

	@media(max-width: 470px) {
		& {
			height: 310px;
			padding: 20px 0;
		}
	}

	.header_content{
		height: 100%;
		padding: 0 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.left_side {
			height: 100%;
			display: flex;
			align-items: center;
			margin-top: auto;
			column-gap: 30px;

			@media(max-width: 470px) {
				flex-direction: column;
			}

			.title_name {
				
				.name {
					font-weight: 600;
					font-size: 36px;
					color: #fff;
					letter-spacing: 1px;
				}

				.description {
					font-size: 16px;
					
					font-weight: 700;
					color: rgba(132, 132, 132, 0.75);
				}
				
			}

		}

		.search {
			display: flex;
			align-items: center;
			position: relative;
			width: 315px;
			height: 39px;
			.icon {
				opacity: 0.4;
				position: absolute;
				left: 10px;
				top: 9px;
			}

			.close {
				opacity: 0.4;
				cursor: pointer;
				position: absolute;
				right: 	10px;
				top: 9px;
			}

			.search_input {
				width: 100%;
				height: 100%;
				padding: 0 40px;
				background: #BBEAA5;
				border: none;
				border-radius: 10px;
				outline: none;
				font-weight: 700;
				font-size: 18px;
				color: #B4B4B4;

				&::placeholder {
					color: #B4B4B4;
				}
			}
		}

		.right_side {
			display: flex;
			align-items: center;
			font-weight: 600;
			width: 135px;
			height: 72px;
			background: #589529;
			border-radius: 15px;

			&:hover {
				background: #64ac2d;
				transition: 0.2s;
			}
			.cart{
				display: flex;
				align-items: center;
				cursor: pointer;
				color: #fff;
				text-align: center;

				.cart_elems {
					display: flex;
					align-items: center;
					.total_price {
						width: 65px;
						margin-left: 5px;
						font-size: 18px;
					}

					.cart_delimiter {
					
					}

					.cart_img {
						margin-left: 7px;
					}

					.count {
						margin-left: 5px;
						font-size: 20px;
					}

				}

			}

		}

		.login {
			padding: 0 30px;
			height: 72px;
			background: #589529;
			border-radius: 15px;
			display: flex;
			align-items: center;
			color: #fff;
			font-weight: 400;
			&:hover {
				cursor: pointer;
				background: #64ac2d;
				transition: 0.2s;
			}
		}

	}
	
}