.popUp {
	width: 250px;
	height: 100px;
	background-color: rgba(96, 211, 67, 0.432);
	color: #2b2b2b;
	border-radius: 20px;
	position: absolute;
	text-align: center;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	top: -100%;
	right: 830px;
	transition: 0.3s;
}
.popUp_content {
	
}

.active {
	top: 140px;
	right: 830px;
	transition: 0.3s;
}