li {
	list-style-type: none;
}

.filter {
	display: flex;
	margin: 40px 0;
	width: 900px;
	justify-content: space-between;

	.active {
		background-color: #444444;
		color: #fff;
	}

	li {
		padding: 10px 25px;
		border-radius: 25px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #5F5F5F;
		cursor: pointer;
	}

	
}

