li {
	list-style-type: none;
}

.filter {
	display: flex;
	margin: 40px 0;
	width: 900px;
	justify-content: space-between;

	@media(max-width: 970px) {
		& {
			width: 400px;
			overflow: scroll;
			align-items: center;
			overflow-y: hidden;
		}
		&::-webkit-scrollbar-track {
			background-color: #fff;
		}
		&::-webkit-scrollbar {
			height: 8px           
		}
		&::-webkit-scrollbar-thumb {
			background-color: #44444400;
			border-radius: 20px;
		}
		&:hover {
			&::-webkit-scrollbar-thumb {
				background-color: #44444498;
			}
		}
	}

	@media(max-width: 370px) {
		& {
			width: 300px;
			overflow: scroll;
			align-items: center;
		}
	}

	.active {
		background-color: #444444;
		color: #fff;
	}

	li {
		padding: 10px 25px;
		border-radius: 25px;
		font-weight: 700;
		letter-spacing: 1px;
		color: #5F5F5F;
		cursor: pointer;

	}

	
}

