.product {
  width: 230px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  border: 1px solid #e0e0e0;
  padding: 10px 7px 20px 7px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 4px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 4px 0px rgba(34, 60, 80, 0.2);

  .sizeTitle {
    font-weight: 600;
    padding: 5px;
  }
  .product_img {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .product_name {
    font-size: 19px;
    font-weight: 600;
    color: #888888;
  }

  .select_size {
    background-color: #dedede;
    padding: 0;
    border-radius: 8px;
    margin: 10px 0;
    height: 60px;
    display: flex;
    align-items: center;
    border: 1px solid #cfcfcf;

    .select_content {
      width: 98%;
      margin: 0 auto;
      padding: 0 5px;
      display: flex;
      justify-content: space-between;

      .size {
        cursor: pointer;
        width: 43%;
        padding: 13px 10px;
        border-radius: 10px;
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 400;
      }
    }
  }

  .selected {
    background-color: #9adb73;
    color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 3px 4px 0px rgba(34, 60, 80, 0.2);
  }

  .price_and_add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .price {
      font-weight: 600;
      font-size: 20px;
      color: #2c2c2c;
    }

    .add {
      background-color: #9adb73;
      border: none;
      color: #dedede;
      font-weight: 700;
      font-size: 20px;
      border-radius: 10px;
      height: 40px;
      width: 60px;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        transition: 0.2s;
      }
    }
  }
}
