.notfound_content {
	text-align: center;
	font-size: 40px;
	margin-top: 180px;
}

.backToHome {
	border: none;

	background-color: rgb(212, 58, 58);
	color: #fff;
	font-weight: 600;
	padding: 10px 30px;
	font-size: 20px;
	border-radius: 20px;
	cursor: pointer;
}